<header>
    <nav class="navbar navbar-dark bg-dark">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/user/logout">Kilépés</a>
            </li>
        </ul>
    </nav>
</header>