<%- contentFor('body') %>
<div class="forgot-box box">
    <div class="box__body">
        <h3 class="box__title">Elfelejtett jelszó</h3>
        <form action="/user/forgot" method="post">
            <div class="form__element">
                <input type="email" id="email" name="email" class="form__input" placeholder="E-mail cím" required>
            </div>

            <% var gtmOptions = {
                'event': 'gaEvent',
                'eventCat': 'Click',
                'eventAct': 'Forgot',
                'eventLab': 'Mehet'
            } %>

            <button type="submit" class="box__button" data-component="gtm-click" data-gtm-click-options="<%= JSON.stringify(gtmOptions) %>">Mehet</button>
        </form>
    </div>
    <div class="box__footer">
        <a href="/user/login" class="box__link">Vissza a bejelentkezéshez!</a>
        <a href="/user/register" class="box__link">Még nem regisztráltál?</a>
    </div>
</div>
