<%= user ? 'Hello ' + user.name + '!' : '' %>
<a href="/user/logout">Kilépés</a>

<%if (user && user.role <= 2) {%>
<a href="/user/list">Felhasználók listázása</a>
<%}%>

<%if (user) {%>
<a href="/order/create">Megrendelés létrehozása</a>
<%}%>

<a href="/order/list">Megrendelések listázása</a>
