<!DOCTYPE html>
<html>
  <head>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <%- defineContent('header') %>
    </header>
    <section class="container">
      <%- body %>
    </section>
    <footer>
      <%- defineContent('footer') %>
    </footer>
  </body>
</html>
