<!DOCTYPE html>
<html>
    <head>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <%- defineContent('header') %>
        <section class="container">
            <%- body %>
        </section>

        <script src="/js/script.js"></script>
    </body>
</html>
