<%- contentFor('body') %>
<div class="login-box box">
    <div class="box__body">
        <h3 class="box__title">Bejelentkezés</h3>
        <form action="/user/login" method="post" class="box__form form">
            <div class="form__element">
                <svg class="form__icon">
                    <use xlink:href="/svg/fa-solid.svg#at"></use>
                </svg>
                <input type="email" id="username" name="username" class="form__input" placeholder="E-mail cím" required>
            </div>
            <div class="form__element">
                <svg class="form__icon">
                    <use xlink:href="/svg/fa-solid.svg#key"></use>
                </svg>
                <input type="password" id="password" name="password" class="form__input" placeholder="Jelszó" required>
            </div>

            <p class="text-danger"> <%= error || '' %></p>

            <button id="login" type="submit" class="box__button">Bejelentkezés</button>
        </form>
    </div>
    <div class="box__footer">
        <a href="/user/forgot" class="box__link">Elfelejtetted a jelszavadat?</a>
        <a href="/user/register" class="box__link">Még nem regisztráltál?</a>
    </div>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
    </button>
    <%- include partials/modal.ejs %>
</div>