<%- contentFor('body') %>
<div class="register-box box">
    <div class="box__body">
        <h3 class="box__title">Regisztráció</h3>
        <form action="/user/register" method="post">
            <div class="form-group">
                <input type="text" id="company" name="company" class="form-control" placeholder="Megrendelő neve" required>
            </div>
            <div class="form-group">
                <input type="text" id="name" name="name" class="form-control" placeholder="Kapcsolattartó neve" required>
            </div>
            <div class="form-group">
                <input type="text" id="phone" name="phone" class="form-control" placeholder="Telefonszám" required>
            </div>
            <div class="form-group">
                <input type="email" id="email" name="email" class="form-control" placeholder="E-mail cím" required>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" class="form-control" placeholder="Jelszó" required>
            </div>

            <p class="text-danger"> <%= error || '' %></p>

            <button type="submit" class="box__button">Regisztráció</button>
        </form>
    </div>
    <div class="box__footer">
        <a href="/user/forgot" class="box__link">Elfelejtetted a jelszavadat?</a>
        <a href="/user/login" class="box__link">Már regisztráltál? Itt be tudsz lépni!</a>
    </div>
</div>