<form action="/user/register" method="post">
    <input type="email" name="email" id="email">
    <input type="text" name="name" id="name">
    <input type="password" name="password" id="password">
    <input type="text" name="company" id="company">
    <input type="text" name="phone" id="phone">
    <input type="submit">
</form>

<div class="alert alert-danger">
    <%= error || '' %>
</div>
