.box {
  @extend .card;

  width: 350px;
  border-top: 5px solid $primary;

  &__title {
    text-align: center;
    font-weight: 300;
    margin-bottom: 25px;
  }

  &__body {
    @extend .card-body;
  }

  &__footer {
    @extend .card-footer;

    border-top: 1px solid $card-separate-color;
    text-align: center;
  }

  &__button {
    @extend .btn, .btn-primary;
  }

  &__link {
    color: $link-color;
    font-size: 12px;
    font-weight: 600;
    display: block;
  }
}