.sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  background: #222527;

  &__nav {
    padding: 0;

    .nav {
      &__item {
        text-indent: 20px;
        line-height: 40px;
      }

      &__link {
        display: block;
        text-decoration: none;
        color: #999999;

        &:hover {
          color: #fff;
          background: rgba(255, 255, 255, 0.2);
        }

        &:hover,
        &:active,
        &:focus {
          text-decoration: none;
        }
      }
    }
  }
}