//bootstrap variables
$body-bg: #f9f9f9;

$primary: #4d7496;

$card-spacer-x: 30px;
$card-border-radius: 0;
$card-cap-bg: #f9f9f9;

$input-border-radius: 0;
$input-border-color: #ccc;
$input-focus-border-color: $primary;
$input-focus-box-shadow: none;
$input-placeholder-color: #999;

$btn-border-radius: 0;
$font-size-base: $font-size-sm;

//variables
$card-separate-color: #c0c0c0;

$link-color: #555;
