$body-bg: #f9f9f9;

$primary: #335eb2;

$card-spacer-x: 30px;
$card-border-radius: 0;

$input-border-radius: 0;
$input-border-color: #ccc;
$input-focus-border-color: $primary;
$input-focus-box-shadow: none;
$input-placeholder-color: #999;